*{
    margin: 0px;
    padding: 0px;
}

body{
    
    /*background-image: url("../IMAGENS/fundo1.jpeg");*/
    background-image: linear-gradient(to right, rgb(20,147, 220), rgb(17,54,71));
    background-position: 50% 70%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px ;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
}

div#corpo-form{
    /*background-color: red;*/
   width: 420px;
   margin: 150px auto 0px auto; 
}

div#corpo-form h1{
    text-align: center;
    padding: 20px;
}

a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

input[type=submit]{
    background-color:white;
    width: 105%;
    cursor: pointer;
}